<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[ ${pageName}]] | Semantic Web</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 450px;
            height: 350px;
        }
    </style>
</head>

<body>
    <H1>Home Page</H1>

<h4>Welcome Visitor</h1>
<div>
    <img class="center" src="Images/Ecole-Mines-SE.jpg" alt="Site Image">
</div>
<div>
    <p>To Show All the Rooms and Territoiry of "École Nationale Supérieure des Mines de Saint-Étienne"
    </p>
    <p>plaease <a href="show_desc">Click Here</a></p>
</div>

</html>